h2.abc{color:yellow}
h2.ultra{font-size:20px;color:violet}
.amazing{color: red;}
p.lot{color:orange}
p.requirement{background-color:red;}
h2.abc{background-color:pink ;}
ul.lang{color:indigo;background-color: khaki;}
table.table{border-spacing: 20px 40px;border: width 3cm;bord }